.heading {
  font-family: "Luckiest Guy";
  color: rgb(109, 103, 103);
  font-style: 100;
  margin: 0;
  padding: 0;
  margin-left: 15px;
  line-height: 50px;
  font-weight: 100;
  font-size: 1.5em;
}
body {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: white;
}

::-webkit-scrollbar-thumb {
  background-color: pink;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: orchid;
}
a:hover {
  text-decoration: none !important;
  color: rgb(109, 103, 103) !important;
}
.path {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: dash 5s linear forwards;
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

.box {
  width: 100%;
  height: 100%;
  background-color: black;
  padding: 20px;
  position: relative;
  margin: 40px;
  float: left;
}
/* .box > p {
  color: #fff;
  width: 0px;
  height: 0px;
  overflow: hidden;
  margin: 0;
  animation: ani 5s linear forwards;
} */

body {
  background-image: linear-gradient(
    175deg,
    rgba(251, 246, 251, 1) 50%,
    rgb(243, 177, 228) 60%
  );
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

.box p {
  color: white;
  font-family: Pacifico;
  font-size: 1em;
  margin: 10px 50px;
  letter-spacing: 1px;
}
.heading1 {
  font-family: "Luckiest Guy";
  color: rgb(109, 103, 103);
  text-align: center;
  font-style: 100;
  margin: 0;
  margin-top: 10px;
  padding: 0;
  margin-left: 15px;
  line-height: 50px;
  font-weight: 100;
  font-size: 2em;
}
.box.arrow-left:after {
  content: " ";
  position: absolute;
  left: -15px;
  top: 15px;
  border-top: 15px solid transparent;
  border-right: 15px solid black;
  border-left: none;
  border-bottom: 15px solid transparent;
}
.content {
  display: flex;
}
.content img {
  width: 50%;
  height: 50%;
}

/* footer */

.footer {
  width: 100%;
  /* height: 100vh;
  scroll-snap-align: center;
  background-color: #dee4e7; */
  display: flex;
  justify-content: space-around;
  padding: 30px;
  padding-top: 50px;
  background-color: rgb(243, 177, 228);
}
.footer .Links {
  list-style: none;
}
.footer .Links li a {
  color: black !important;
}
.footer .Links li a:hover {
  color: rgb(184, 38, 179) !important;
}
.footer .Links_section h6 {
  font-family: Mulish;
  font-size: 1.2em;
  font-weight: bold;
}
.footer .contact img {
  width: 35px;
  height: 35px;
  margin-left: 5px;
}
.footer .contact h6 {
  font-family: Mulish;
  font-size: 1.2em;
  font-weight: bold;
}
.footer .social_icons {
  margin: 0;
  margin-top: 10px;
  padding: 0;
}
.Footer_heading h1 {
  font-family: Mulish;
  font-size: 1.3em;
  color: #333333;
}
.Newsletter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Footer_input input {
  width: 300px;
  height: 50px;
  background-color: white;
  border-radius: 4px;
  border: 1px solid lightgray;
  padding-left: 5px;
  font-family: Mulish;
}
.Footer_input {
  display: flex;
  margin-top: 10px;
}
.Footer_input input:focus {
  outline: 0;
}
.Footer_input > div {
  width: 60px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background: #ec1f46;
  border-radius: 0px 4px 4px 0px;
}
.Footer_input > div div {
  color: white;
  font-family: Mulish;
}
@media only screen and (max-width: 800px) {
  body,
  html {
    font-size: 10px;
  }
  .content img {
    width: 50%;
  }
  .heading1 {
    margin-bottom: 30px;
  }
  .Footer_input input {
    width: 200px;
  }
  .box {
    margin: 0;
    margin-left: 20px;
    height: 150px;
    overflow-y: scroll;
    margin-right: 5px;
  }
  .box p {
    margin: 0;
  }
  .footer {
    flex-direction: column;
    padding: 10px;
  }
  .Newsletter {
    justify-content: space-around;
    align-items: baseline;
    margin: 10px 0 20px 0;
  }
  .Gotop_link {
    display: none;
  }
  .content_mobile {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
}
